body{
  margin: 0;
  padding: 0;
}

.container{
  margin: 0;
  padding:0;
}

.header{
    display: flex;
}

.first-header {
    height: 40px;
    background-color: #efeff1;
    padding-top: 10px;
    justify-content: space-between;
  }
  
  .shopping {
    margin-left: 400px;
    color: #4a4a4a;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .signin {
    margin-left: 600px;
    text-decoration: none;
    color: #4a4a4a;
    font-family: sans-serif;
    font-weight: bold;
  }

  .imageS{
    display: flex;
    padding-top: 10px;
    margin-left: 150px;
  }

  .belowheader{
    display: flex;
    justify-content: space-around;
  }

  .numberS{
    color: #7a7a7a;
    font-weight: 700;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 20px;
  }
  
  .nav{
    margin-left: 250px;
  }

  .nav ul li:last-child{
    background-color: #fa8801;
    text-align: center;
    padding-left: 10px;
    margin-left: 60px;  
    height: 20px;
    width: 150px;
    padding: 10px;
    color: white;
  }

  .nav1{
    color: #4a4a4a;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
    display: inline-block;
    padding-left: 50px;  
    justify-content: center;
  }

  .bigpart{
    background-color: #efeff1 ;
    height: 320px;
    justify-content: center;
    display: flex;
    padding-top: 70px;
  }
  
  .heading{
    float: left;
    color: #585759;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 20px;
    width: auto;
    position: static;
  }

  .started{
    width: 30%;
    margin-top: 10px;
    background-color: #fa8801;
    color: white;
    font-weight: bold;
    border: 1px solid #fa8801;
    height: 30px;
    border-radius: 8px;
  }
  
.textarea{
    background-color: transparent;
    border: 1px solid #dbdadd;
    margin-left: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

  .input{
    background-color: transparent;
    border: 1px solid #dbdadd;
    margin: 10px;
    padding-top: 0;
    height: 30px;
    border-radius: 8px;
  }
  
  .bigpart .headline .text{
    font-weight: normal;
    width: 42%;
  }
  
  .input{
    background-color: transparent;
    border: 1px solid #dbdadd;
    margin: 10px;
    padding-top: 0;
    height: 30px;
    border-radius: 8px;
  }

  .textbar{
    float: left;

  }
  
  .formbutton{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #fa8801;
    color: white;
    font-weight: bold;
    border: 1px solid #fa8801;
    height: 35px;
    border-radius: 8px;
  }

  .blue{
    height: 170px;
    background-color: #209bde;
    color: white;
    font-family: sans-serif;
    margin-top: -20px;
    justify-content: center;
  }
  
  .text-blue{
    margin-left: 270px;
    width: 50%;
  }
  
  .heading-blue{
    margin-left: 270px;
    padding-top: 20px;
  }
  
  .blue-button{
    background-color: white;
    color: #209bde;
    width: 150px;
    float: right;
    margin-right: 300px;
    height: 50px;
    border-radius: 0px;
    border: 0;
    font-weight: bold;
    margin-top: -80px;
  }

  .bigpart2{
    background-color: #efeff1;
    height: 350px;
  }
  
  .image2{
    margin-left: 150px;
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image3{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 40px;
    margin-left: 200px;
  }
  
  .play-button{
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
    height: 70px;
    width: 70px;
    padding-top: 30px;
    }
  
    .text-bigpart2{
      margin-left: 850px;
      padding-top: 40px;
      color: #545456;
      width: 40%;
    }
  
    .subheading-big{
      color:#545456;
    }
  
    .bigpart2-button{
      background-color:#fa8801 ;
      width: 7%;
      margin-left: 850px;
      border-radius: 0px;
      height: 40px;
      font-weight: bold;
      border: none;
      color: white;
    }

    .images111{
      height: 300px;
      width: 300px;
    }
  
    .images11{
      width: 300px;
      margin-left: 350px;
      color:#999999;
  }
  
  .images122{
    height: 300px;
    width: 300px;
  }
  
  .images12{
    width: 300px;
    margin-left:50px;
    color:#999999;
  }
  
  .images133{
    height: 300px;
    width: 300px;
  }
  
  .images13{
    width: 300px;
    margin-left: 50px;
    color:#999999;
  }
  
  .images{
    height: 500px;
    display: flex;
    margin-top: 20px;
  }

  .imageButton{
    width: 10%;
    margin-left: 800px;
    background-color: #fa8801;
    color: white;
    font-weight: bold;
    border: 1px solid #fa8801;
    height: 35px;
  }

  .secondlast{
    margin-top: 20px;
    height: 200px;
    background-color: #959595;
    display: flex;
  }
  
    .list1
    {
      color: white;
      padding-top: 10px;
      margin-left: 100px;
      list-style: none;
    }
  
    .list11{
      list-style: none;
      font-weight: bold;
    }
  
    .list111{
      list-style: none;
      font-weight: bold;
    }
  
    .footer{
      height: 30px;
      background-color: #707070;
      text-align: center;
      padding-top: 10px;
    }